# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.sqlite3

# Django
backend/media/
backend/staticfiles/
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
